PEXELS_API_KEY= # crucial for the project to work
ELEVENLABS_API_KEY= # if you want to use ElevenLabs TTS
WHISPER_MODEL= # optional / default = medium.en
LOG_LEVEL=trace # trace, debug, info, warn, error, fatal, silent
WHISPER_VERBOSE=true
PORT=3123
DEV=true # local development mode
DATA_DIR_PATH= # only for docker, otherwise leave empty